@model IEnumerable<DHC.DAL.Models.Manager>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ManagerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerContact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerContact)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ManagerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ManagerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ManagerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
